* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: rgb(230, 228, 225);
}

h1 {
    text-transform: capitalize;
    text-shadow: 2px 2px 4px grey;
}

h2 {
    text-transform: capitalize;
    text-decoration-color: grey;
    text-decoration-style: dashed;
    text-decoration-line: underline;
}
